
body{
    background-color:lightsteelblue
    

}

body a{
    text-decoration: none;
    color:black
}

body li{
    color: black;
    font-size: larger;
}
a {text-decoration: none;}
a:hover {text-decoration: underline;}

<link rel="icon" type="image/x-icon" href="favicon.png">

    


<html>
<head>
  <link rel="stylesheet" href="myStyle.css">
  <title>Movies</title>
  <style>
    body {
      text-align: center;
    }

    a {
      display: inline-block;
      margin-right: 10px; /* Add right margin for spacing */
    }

    ul {
      list-style-type: none; /* Remove bullet points */
      padding: 0;
    }
  </style>
</head>
<body>
  <a href="index.html">Home</a>
  <a href="page1.html">Disney Movies</a>
  <a href="page2.html">Music Artists</a>
  <a href="page3.html">Animals</a>
  <a href="page4.html">Game</a>

  <h2>Good Music Artists! ♫ </h2>

  <ul>
  <li>Ariana Grande</li>
  <li>The Weeknd</li>
  <li>Mac Miller</li>
  <li>Taylor Swift</li>
  <li>Harry Styles</li>
</ul>
</body>
</html>







